.sticky-events {
    position: -webkit-sticky;
    position: sticky;
}

.sticky-events--sentinel {
    left: 0;
    position: absolute;
    right: 0;
    visibility: hidden;
}

.sticky-events--sentinel-top {
    position: relative;
}
